@using Microsoft.AspNetCore.Components.Web
@using MiikkaStore.WebSite.Models
@using MiikkaStore.WebSite.Services
@inject MiikkaFileService miikkaFileService
@{
    var index = 0;
}


<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Info</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in miikkaFileService.GetProducts())
        {
            index++;
            <tr>
                <th scope="row">@index</th>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <button class="btn btn-primary" @onclick="(e => ShowInfo(product.Name))"
                            data-toggle="modal" data-target="#productModal">
                        More info
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (selectedProduct != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedProduct.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">@selectedProduct.Description</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
}

@code {
    Product selectedProduct;
    string selectedProductName;

    void ShowInfo(string productName)
    {
        selectedProductName = productName;
        selectedProduct = miikkaFileService.GetProducts().FirstOrDefault(x => x.Name == productName);
    }
}
